/* GALLERY  */

.gallery-container, .user-gallery-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #383b42;
    height: 85vh;
    padding: 20px;
}

.gallery-bar {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.input-container {
    flex-grow: 3;
    position: relative;
}

.search-bar {
    width: 100%;
    height: 58px;
    border-radius: 29px;
    background-color: #22252c;
    border: none;
    color: #fefefe;
    padding: 0px 50px;
    opacity: 0.38;
    font-size: 1.3125rem;
}

.search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-words {
    flex-grow: 2;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #87898d;
    padding: 10px 20px;
    color: #fefefe;
    font-size: 1.0625rem;
    max-height: 50px;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, auto));
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
    transition: max-height .5s;
}

.filter-words span {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

.search-bar:focus-visible {
    outline: none;
}

.more-btn {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    color: #fefefe;
    font-size: 1.125rem;
    font-family: Poppins-light;
    padding: 5px 20px;
    width: 85px;
}

.more-btn:hover {
    background-image: linear-gradient(-86deg, #0c98b9 0%, #33be6d 100%);
}

.images-container, .user-memes-container {
    padding-inline-start: 50px;
    padding-inline-end: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    overflow-y: scroll;
}

.images-container img, .user-memes-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.images-container img:hover {
    opacity: 0.7;
}

.images-container::-webkit-scrollbar, .user-memes-container::-webkit-scrollbar {
    width: 13px;
}

.images-container::-webkit-scrollbar-track, .user-memes-container::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 7px;
}

.images-container::-webkit-scrollbar-thumb, .user-memes-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
    background-color: #22252c;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.images-container::-webkit-scrollbar-thumb:hover, .user-memes-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-gallery-container h1 {
    color: white;
    text-align: center;
}

.custom-img-btn {
    background-color: rgb(89, 112, 193);
    background-image: linear-gradient( -86deg, rgb(51, 190, 109) 0%, rgb(12, 152, 185) 100%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: Poppins-medium;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.custom-container {
    width: 200px;
    height: 200px;
    position: relative;
}
.upload-img-input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}


@media (max-width:700px) {
    main {
        margin: 10px;
    }
    .gallery-container, .user-gallery-container {
        height: fit-content;
    }
    .images-container, .user-memes-container {
        grid-template-columns: auto;
        overflow-y: unset;
    }
    .images-container img, .user-memes-container img {
        width: 90%;
        height: auto;
    }
    .gallery-bar {
        flex-direction: column;
        gap: 15px;
    }
    .search-bar {
        width: 100%;
    }
    .filter-words {
        width: 100%;
    }
    .custom-container {
        width: 90%;
        height: 100px;
    }
    .custom-img-btn {
        font-size: 1.5rem;
    }
}

/* USER MEMES GALLERY ONLY */

.user-gallery-container h4 {
    text-align: center;
    color: #ffffff63;
}

.user-meme-container {
    position: relative;
    width: fit-content;
}

.control-bar {
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

.control-bar a {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.user-meme-container:hover .control-bar {
    visibility: visible;
}

.user-meme-container:hover img {
    opacity: 0.7;
}

@media (max-width:700px) {
    .user-meme-container {
        width: 90%;
    }
    .user-meme-container img {
        width: 100%;
    }
}